@import '../../assets/styles/variables.scss';

.tabs-list {
    display: flex;
    // flex-direction: row;
    cursor: pointer;
    flex-shrink: 1;
    &__item {
      width: 50%;
      box-sizing: border-box;
      background-color: $font-white;
      border: solid 1px $border-color;
      padding: 13px 23px;
      color: $font-black;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 20px;
      letter-spacing: 0.5px;
      &:nth-child(2) {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:first-child {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      // &:last-child {
      //   border-bottom-right-radius: 5px;
      //   border-top-right-radius: 5px;
      // }
      &:hover {
        border-color: $content-color;
      }
    }
  }
