$fonts: 'Open Sans', sans-serif;

$font-black: #4A4A4A;
$font-grey: #A0B0B9;
$font-white: #FFFFFF;

$body-color: #F3F7FA;
$content-color: #2196F3;
$light-blue-color: #9ABBCE;

$border-color: #DFE5EC;
$filter-background-color: #F1FCFF;
